<%= form_for(@used_sale) do |f| %>
  <% if @used_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@used_sale.errors.count, "error") %> prohibited this used_sale from being saved:</h2>

      <ul>
      <% @used_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productname %><br>
    <%= f.text_field :productname %>
  </div>
  <div class="field">
    <%= f.label :productprice %><br>
    <%= f.text_field :productprice %>
  </div>
  <div class="field">
    <%= f.label :productquantity %><br>
    <%= f.text_field :productquantity %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
