<h1>Used Sales</h1>
<p>Used equipmnt is generated from equipment retired from rental service. Products may not be available at some points.</p>
<table>
  <thead>
    <tr>
      <th>Productname</th>
      <th>Productprice</th>
      <th>Productquantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @used_sales.each do |used_sale| %>
      <tr>
        <td><%= used_sale.productname %></td>
        <td><%= used_sale.productprice %></td>
        <td><%= used_sale.productquantity %></td>
        <td><%= used_sale.productimage %></td>
        <td><%= link_to 'Show', used_sale %></td>
        <td><%= link_to 'Edit', edit_used_sale_path(used_sale) %></td>
        <td><%= link_to 'Destroy', used_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Used sale', new_used_sale_path %>
