<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @used_sale.productname %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @used_sale.productprice %>
</p>

<p>
  <strong>Productquantity:</strong>
  <%= @used_sale.productquantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @used_sale.productimage %>
</p>

<%= link_to 'Edit', edit_used_sale_path(@used_sale) %> |
<%= link_to 'Back', used_sales_path %>
