<h1>Listing wirelessmics</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Quantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wirelessmics.each do |wirelessmic| %>
      <tr>
        <td><%= wirelessmic.type %></td>
        <td><%= wirelessmic.quantity %></td>
        <td><%= wirelessmic.productimage %></td>
        <td><%= link_to 'Show', wirelessmic %></td>
        <td><%= link_to 'Edit', edit_wirelessmic_path(wirelessmic) %></td>
        <td><%= link_to 'Destroy', wirelessmic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wirelessmic', new_wirelessmic_path %>
