<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @wirelessmic.type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @wirelessmic.quantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @wirelessmic.productimage %>
</p>

<%= link_to 'Edit', edit_wirelessmic_path(@wirelessmic) %> |
<%= link_to 'Back', wirelessmics_path %>
