<h1>Listing sound_products</h1>

<table>
  <thead>
    <tr>
      <th>Maker</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sound_products.each do |sound_product| %>
      <tr>
        <td><%= sound_product.maker %></td>
        <td><%= sound_product.name %></td>
        <td><%= sound_product.quantity %></td>
        <td><%= sound_product.price %></td>
        <td><%= sound_product.type %></td>
        <td> <%= link_to "Buy", new_newsale_path(:SoundProduct_id => SoundProduct) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sound product', new_sound_product_path %>
