<p id="notice"><%= notice %></p>

<p>
  <strong>Maker:</strong>
  <%= @sound_product.maker %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sound_product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sound_product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sound_product.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @sound_product.type %>
</p>

<%= link_to 'Edit', edit_sound_product_path(@sound_product) %> |
<%= link_to 'Back', sound_products_path %>
