<%= form_for(@soundconsole) do |f| %>
  <% if @soundconsole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soundconsole.errors.count, "error") %> prohibited this soundconsole from being saved:</h2>

      <ul>
      <% @soundconsole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :inputchannels %><br>
    <%= f.number_field :inputchannels %>
  </div>
  <div class="field">
    <%= f.label :outputchannels %><br>
    <%= f.number_field :outputchannels %>
  </div>
  <div class="field">
    <%= f.label :digital %><br>
    <%= f.check_box :digital %>
  </div>
  <div class="field">
    <%= f.label :analogue %><br>
    <%= f.check_box :analogue %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
