<h1>Listing soundconsoles</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Model</th>
      <th>Quantity</th>
      <th>Inputchannels</th>
      <th>Outputchannels</th>
      <th>Digital</th>
      <th>Analogue</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soundconsoles.each do |soundconsole| %>
      <tr>
        <td><%= soundconsole.brand %></td>
        <td><%= soundconsole.model %></td>
        <td><%= soundconsole.quantity %></td>
        <td><%= soundconsole.inputchannels %></td>
        <td><%= soundconsole.outputchannels %></td>
        <td><%= soundconsole.digital %></td>
        <td><%= soundconsole.analogue %></td>
        <td><%= soundconsole.productimage %></td>
        <td><%= link_to 'Show', soundconsole %></td>
        <td><%= link_to 'Edit', edit_soundconsole_path(soundconsole) %></td>
        <td><%= link_to 'Destroy', soundconsole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soundconsole', new_soundconsole_path %>
