<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @soundconsole.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @soundconsole.model %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @soundconsole.quantity %>
</p>

<p>
  <strong>Inputchannels:</strong>
  <%= @soundconsole.inputchannels %>
</p>

<p>
  <strong>Outputchannels:</strong>
  <%= @soundconsole.outputchannels %>
</p>

<p>
  <strong>Digital:</strong>
  <%= @soundconsole.digital %>
</p>

<p>
  <strong>Analogue:</strong>
  <%= @soundconsole.analogue %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @soundconsole.productimage %>
</p>

<%= link_to 'Edit', edit_soundconsole_path(@soundconsole) %> |
<%= link_to 'Back', soundconsoles_path %>
