<h1>Lighting Equipment</h1>

 	<%= link_to "Conventional Fixtures", conventionalfixtures_path %> 
	<%= link_to "LED Fixtures", ledfixtures_path %> 
	<%= link_to "Automated Fixtures", movingfixtures_path %> 
	<%= link_to "Lighting Accessories", lightingaccessories_path %> 
	<%= link_to "Lighting Consoles", lightingconsoles_path %> 
	<%= link_to "Cables", lightingcables_path %>