<h1>Sound Equipment</h1>
 	<%= link_to "Amplifiers", amplifers_path %> 
	<%= link_to "Cables", soundcables_path %> 
	<%= link_to "Sound Boards", soundconsoles_path %> 
	<%= link_to "Speakers", speakers_path %> 
	<%= link_to "Wired Microphones", wiredmics_path %> 
	<%= link_to "Wireless Microphones", wirelessmics_path %>