<%= form_for(@conventionalfixture) do |f| %>
  <% if @conventionalfixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conventionalfixture.errors.count, "error") %> prohibited this conventionalfixture from being saved:</h2>

      <ul>
      <% @conventionalfixture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fixturemaker %><br>
    <%= f.text_field :fixturemaker %>
  </div>
  <div class="field">
    <%= f.label :fixturemodel %><br>
    <%= f.text_field :fixturemodel %>
  </div>
  <div class="field">
    <%= f.label :fixturename %><br>
    <%= f.text_field :fixturename %>
  </div>
  <div class="field">
    <%= f.label :fixturelampwattage %><br>
    <%= f.text_field :fixturelampwattage %>
  </div>
  <div class="field">
    <%= f.label :fixturequantity %><br>
    <%= f.number_field :fixturequantity %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
