<h1>Listing conventionalfixtures</h1>

<table>
  <thead>
    <tr>
      <th>Fixturemaker</th>
      <th>Fixturemodel</th>
      <th>Fixturename</th>
      <th>Fixturelampwattage</th>
      <th>Fixturequantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conventionalfixtures.each do |conventionalfixture| %>
      <tr>
        <td><%= conventionalfixture.fixturemaker %></td>
        <td><%= conventionalfixture.fixturemodel %></td>
        <td><%= conventionalfixture.fixturename %></td>
        <td><%= conventionalfixture.fixturelampwattage %></td>
        <td><%= conventionalfixture.fixturequantity %></td>
        <td><%= conventionalfixture.productimage %></td>
        <td><%= link_to 'Show', conventionalfixture %></td>
        <td><%= link_to 'Edit', edit_conventionalfixture_path(conventionalfixture) %></td>
        <td><%= link_to 'Destroy', conventionalfixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conventionalfixture', new_conventionalfixture_path %>
