<p id="notice"><%= notice %></p>

<p>
  <strong>Fixture maker:</strong>
  <%= @conventionalfixture.fixturemaker %>
</p>

<p>
  <strong>Fixture model:</strong>
  <%= @conventionalfixture.fixturemodel %>
</p>

<p>
  <strong>Fixture name:</strong>
  <%= @conventionalfixture.fixturename %>
</p>

<p>
  <strong>Fixture lamp wattage:</strong>
  <%= @conventionalfixture.fixturelampwattage %>
</p>

<p>
  <strong>Fixture quantity:</strong>
  <%= @conventionalfixture.fixturequantity %>
</p>

<p>
  <strong>Product image:</strong>
  <%= @conventionalfixture.productimage %>
</p>

<%= link_to 'Edit', edit_conventionalfixture_path(@conventionalfixture) %> |
<%= link_to 'Back', conventionalfixtures_path %>
