<h1>Listing movingfixtures</h1>

<table>
  <thead>
    <tr>
      <th>Fixturemaker</th>
      <th>Fixturemodel</th>
      <th>Fixturename</th>
      <th>Led</th>
      <th>Fixturewattage</th>
      <th>Fixturequantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movingfixtures.each do |movingfixture| %>
      <tr>
        <td><%= movingfixture.fixturemaker %></td>
        <td><%= movingfixture.fixturemodel %></td>
        <td><%= movingfixture.fixturename %></td>
        <td><%= movingfixture.led %></td>
        <td><%= movingfixture.fixturewattage %></td>
        <td><%= movingfixture.fixturequantity %></td>
        <td><%= movingfixture.productimage %></td>
        <td><%= link_to 'Show', movingfixture %></td>
        <td><%= link_to 'Edit', edit_movingfixture_path(movingfixture) %></td>
        <td><%= link_to 'Destroy', movingfixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movingfixture', new_movingfixture_path %>
