<p id="notice"><%= notice %></p>

<p>
  <strong>Fixturemaker:</strong>
  <%= @movingfixture.fixturemaker %>
</p>

<p>
  <strong>Fixturemodel:</strong>
  <%= @movingfixture.fixturemodel %>
</p>

<p>
  <strong>Fixturename:</strong>
  <%= @movingfixture.fixturename %>
</p>

<p>
  <strong>Led:</strong>
  <%= @movingfixture.led %>
</p>

<p>
  <strong>Fixturewattage:</strong>
  <%= @movingfixture.fixturewattage %>
</p>

<p>
  <strong>Fixturequantity:</strong>
  <%= @movingfixture.fixturequantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @movingfixture.productimage %>
</p>

<%= link_to 'Edit', edit_movingfixture_path(@movingfixture) %> |
<%= link_to 'Back', movingfixtures_path %>
