<%= form_for(@lightingaccessory) do |f| %>
  <% if @lightingaccessory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lightingaccessory.errors.count, "error") %> prohibited this lightingaccessory from being saved:</h2>

      <ul>
      <% @lightingaccessory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :accessorytype %><br>
    <%= f.text_field :accessorytype %>
  </div>
  <div class="field">
    <%= f.label :compatablefixtures %><br>
    <%= f.text_area :compatablefixtures %>
  </div>
  <div class="field">
    <%= f.label :accessoryquantity %><br>
    <%= f.number_field :accessoryquantity %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
