<h1>Listing lightingaccessories</h1>

<table>
  <thead>
    <tr>
      <th>Accessorytype</th>
      <th>Compatablefixtures</th>
      <th>Accessoryquantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lightingaccessories.each do |lightingaccessory| %>
      <tr>
        <td><%= lightingaccessory.accessorytype %></td>
        <td><%= lightingaccessory.compatablefixtures %></td>
        <td><%= lightingaccessory.accessoryquantity %></td>
        <td><%= lightingaccessory.productimage %></td>
        <td><%= link_to 'Show', lightingaccessory %></td>
        <td><%= link_to 'Edit', edit_lightingaccessory_path(lightingaccessory) %></td>
        <td><%= link_to 'Destroy', lightingaccessory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lightingaccessory', new_lightingaccessory_path %>
