<p id="notice"><%= notice %></p>

<p>
  <strong>Accessorytype:</strong>
  <%= @lightingaccessory.accessorytype %>
</p>

<p>
  <strong>Compatablefixtures:</strong>
  <%= @lightingaccessory.compatablefixtures %>
</p>

<p>
  <strong>Accessoryquantity:</strong>
  <%= @lightingaccessory.accessoryquantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @lightingaccessory.productimage %>
</p>

<%= link_to 'Edit', edit_lightingaccessory_path(@lightingaccessory) %> |
<%= link_to 'Back', lightingaccessories_path %>
