<%= form_for(@wiredmic) do |f| %>
  <% if @wiredmic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiredmic.errors.count, "error") %> prohibited this wiredmic from being saved:</h2>

      <ul>
      <% @wiredmic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
