<h1>Listing wiredmics</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Quantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wiredmics.each do |wiredmic| %>
      <tr>
        <td><%= wiredmic.type %></td>
        <td><%= wiredmic.quantity %></td>
        <td><%= wiredmic.productimage %></td>
        <td><%= link_to 'Show', wiredmic %></td>
        <td><%= link_to 'Edit', edit_wiredmic_path(wiredmic) %></td>
        <td><%= link_to 'Destroy', wiredmic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wiredmic', new_wiredmic_path %>
