<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @wiredmic.type %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @wiredmic.quantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @wiredmic.productimage %>
</p>

<%= link_to 'Edit', edit_wiredmic_path(@wiredmic) %> |
<%= link_to 'Back', wiredmics_path %>
