<%= form_for(@lightingcable) do |f| %>
  <% if @lightingcable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lightingcable.errors.count, "error") %> prohibited this lightingcable from being saved:</h2>

      <ul>
      <% @lightingcable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cabletype %><br>
    <%= f.text_field :cabletype %>
  </div>
  <div class="field">
    <%= f.label :dmxpin %><br>
    <%= f.text_field :dmxpin %>
  </div>
  <div class="field">
    <%= f.label :cablequantityinteger %><br>
    <%= f.text_field :cablequantityinteger %>
  </div>
  <div class="field">
    <%= f.label :cablelength %><br>
    <%= f.number_field :cablelength %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
