<h1>Listing lightingcables</h1>

<table>
  <thead>
    <tr>
      <th>Cabletype</th>
      <th>Dmxpin</th>
      <th>Cablequantityinteger</th>
      <th>Cablelength</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lightingcables.each do |lightingcable| %>
      <tr>
        <td><%= lightingcable.cabletype %></td>
        <td><%= lightingcable.dmxpin %></td>
        <td><%= lightingcable.cablequantityinteger %></td>
        <td><%= lightingcable.cablelength %></td>
        <td><%= link_to 'Show', lightingcable %></td>
        <td><%= link_to 'Edit', edit_lightingcable_path(lightingcable) %></td>
        <td><%= link_to 'Destroy', lightingcable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lightingcable', new_lightingcable_path %>
