<p id="notice"><%= notice %></p>

<p>
  <strong>Cabletype:</strong>
  <%= @lightingcable.cabletype %>
</p>

<p>
  <strong>Dmxpin:</strong>
  <%= @lightingcable.dmxpin %>
</p>

<p>
  <strong>Cablequantityinteger:</strong>
  <%= @lightingcable.cablequantityinteger %>
</p>

<p>
  <strong>Cablelength:</strong>
  <%= @lightingcable.cablelength %>
</p>

<%= link_to 'Edit', edit_lightingcable_path(@lightingcable) %> |
<%= link_to 'Back', lightingcables_path %>
