<%= form_for(@amplifer) do |f| %>
  <% if @amplifer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amplifer.errors.count, "error") %> prohibited this amplifer from being saved:</h2>

      <ul>
      <% @amplifer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ampliferbrand %><br>
    <%= f.text_field :ampliferbrand %>
  </div>
  <div class="field">
    <%= f.label :amplifiermodel %><br>
    <%= f.text_field :amplifiermodel %>
  </div>
  <div class="field">
    <%= f.label :amplifierpower %><br>
    <%= f.text_field :amplifierpower %>
  </div>
  <div class="field">
    <%= f.label :amplifierquantity %><br>
    <%= f.number_field :amplifierquantity %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
