<h1>Listing amplifers</h1>

<table>
  <thead>
    <tr>
      <th>Ampliferbrand</th>
      <th>Amplifiermodel</th>
      <th>Amplifierpower</th>
      <th>Amplifierquantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @amplifers.each do |amplifer| %>
      <tr>
        <td><%= amplifer.ampliferbrand %></td>
        <td><%= amplifer.amplifiermodel %></td>
        <td><%= amplifer.amplifierpower %></td>
        <td><%= amplifer.amplifierquantity %></td>
        <td><%= amplifer.productimage %></td>
        <td><%= link_to 'Show', amplifer %></td>
        <td><%= link_to 'Edit', edit_amplifer_path(amplifer) %></td>
        <td><%= link_to 'Destroy', amplifer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Amplifer', new_amplifer_path %>
