<p id="notice"><%= notice %></p>

<p>
  <strong>Ampliferbrand:</strong>
  <%= @amplifer.ampliferbrand %>
</p>

<p>
  <strong>Amplifiermodel:</strong>
  <%= @amplifer.amplifiermodel %>
</p>

<p>
  <strong>Amplifierpower:</strong>
  <%= @amplifer.amplifierpower %>
</p>

<p>
  <strong>Amplifierquantity:</strong>
  <%= @amplifer.amplifierquantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @amplifer.productimage %>
</p>

<%= link_to 'Edit', edit_amplifer_path(@amplifer) %> |
<%= link_to 'Back', amplifers_path %>
