<p> <h1>Search</h1> </p>

<%= form_tag :action => 'search' do %>
	<p>What product are you looking for?: 
	<%= text_field_tag 'searchinput', @searchinput %> </p>
	<hr/>
	<% if @results>0 %>
		<% if @productlist.length >0 %>
			<p> Here are the search results:</p>
			<p>
			<table>
			<tr>
				<th>Product Name</th>
				<th>Image</th>
			</tr>
			<% @productlist.each do |p| %>
				<tr>
				<td><%= link_to p.fixturename, conventionalfixture_path(p.id) %></td>
				<td><%= p.productimage %></td>
				<td><%= p.fixturemaker %></td>
				</tr>
			<% end %>
			</table>

		<% else%>
			<p>There were no products with your search criteria. Try again!</p>
		<% end %>
	<% end %>

	<%= submit_tag 'Search' %>
<% end %>
	