<h1>Listing lighting_products</h1>

<table>
  <thead>
    <tr>
      <th>Maker</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lighting_products.each do |lighting_product| %>
      <tr>
        <td><%= lighting_product.maker %></td>
        <td><%= lighting_product.name %></td>
        <td><%= lighting_product.quantity %></td>
        <td><%= lighting_product.price %></td>
        <td><%= lighting_product.type %></td>
        <td> <%= link_to "Buy", new_newsale_path(:LightingProduct_id => LightingProduct) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lighting product', new_lighting_product_path %>
