<p id="notice"><%= notice %></p>

<p>
  <strong>Maker:</strong>
  <%= @lighting_product.maker %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lighting_product.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @lighting_product.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @lighting_product.price %>
</p>

<p>
  <strong>Type:</strong>
  <%= @lighting_product.type %>
</p>

<%= link_to 'Edit', edit_lighting_product_path(@lighting_product) %> |
<%= link_to 'Back', lighting_products_path %>
