<%= form_for(@lightingconsole) do |f| %>
  <% if @lightingconsole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lightingconsole.errors.count, "error") %> prohibited this lightingconsole from being saved:</h2>

      <ul>
      <% @lightingconsole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :consolemaker %><br>
    <%= f.text_field :consolemaker %>
  </div>
  <div class="field">
    <%= f.label :consolemodel %><br>
    <%= f.text_field :consolemodel %>
  </div>
  <div class="field">
    <%= f.label :universe %><br>
    <%= f.number_field :universe %>
  </div>
  <div class="field">
    <%= f.label :externalscreens %><br>
    <%= f.check_box :externalscreens %>
  </div>
  <div class="field">
    <%= f.label :consolequantity %><br>
    <%= f.number_field :consolequantity %>
  </div>
  <div class="field">
    <%= f.label :productimage %><br>
    <%= f.text_field :productimage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
