<h1>Listing lightingconsoles</h1>

<table>
  <thead>
    <tr>
      <th>Consolemaker</th>
      <th>Consolemodel</th>
      <th>Universe</th>
      <th>Externalscreens</th>
      <th>Consolequantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lightingconsoles.each do |lightingconsole| %>
      <tr>
        <td><%= lightingconsole.consolemaker %></td>
        <td><%= lightingconsole.consolemodel %></td>
        <td><%= lightingconsole.universe %></td>
        <td><%= lightingconsole.externalscreens %></td>
        <td><%= lightingconsole.consolequantity %></td>
        <td><%= lightingconsole.productimage %></td>
        <td><%= link_to 'Show', lightingconsole %></td>
        <td><%= link_to 'Edit', edit_lightingconsole_path(lightingconsole) %></td>
        <td><%= link_to 'Destroy', lightingconsole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lightingconsole', new_lightingconsole_path %>
