<p id="notice"><%= notice %></p>

<p>
  <strong>Consolemaker:</strong>
  <%= @lightingconsole.consolemaker %>
</p>

<p>
  <strong>Consolemodel:</strong>
  <%= @lightingconsole.consolemodel %>
</p>

<p>
  <strong>Universe:</strong>
  <%= @lightingconsole.universe %>
</p>

<p>
  <strong>Externalscreens:</strong>
  <%= @lightingconsole.externalscreens %>
</p>

<p>
  <strong>Consolequantity:</strong>
  <%= @lightingconsole.consolequantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @lightingconsole.productimage %>
</p>

<%= link_to 'Edit', edit_lightingconsole_path(@lightingconsole) %> |
<%= link_to 'Back', lightingconsoles_path %>
