<h1>Listing rentals</h1>

<table>
  <thead>
    <tr>
      <th>Productname</th>
      <th>Productprice</th>
      <th>Productquantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.productname %></td>
        <td><%= rental.productprice %></td>
        <td><%= rental.productquantity %></td>
        <td><%= rental.productimage %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rental', new_rental_path %>
