<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @rental.productname %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @rental.productprice %>
</p>

<p>
  <strong>Productquantity:</strong>
  <%= @rental.productquantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @rental.productimage %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
