<%= form_for(@soundcable) do |f| %>
  <% if @soundcable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soundcable.errors.count, "error") %> prohibited this soundcable from being saved:</h2>

      <ul>
      <% @soundcable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cabletype %><br>
    <%= f.text_field :cabletype %>
  </div>
  <div class="field">
    <%= f.label :cablelenght %><br>
    <%= f.number_field :cablelenght %>
  </div>
  <div class="field">
    <%= f.label :cablequantity %><br>
    <%= f.number_field :cablequantity %>
  </div>
  <div class="field">
    <%= f.label :balanced %><br>
    <%= f.check_box :balanced %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
