<h1>Listing soundcables</h1>

<table>
  <thead>
    <tr>
      <th>Cabletype</th>
      <th>Cablelenght</th>
      <th>Cablequantity</th>
      <th>Balanced</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @soundcables.each do |soundcable| %>
      <tr>
        <td><%= soundcable.cabletype %></td>
        <td><%= soundcable.cablelenght %></td>
        <td><%= soundcable.cablequantity %></td>
        <td><%= soundcable.balanced %></td>
        <td><%= link_to 'Show', soundcable %></td>
        <td><%= link_to 'Edit', edit_soundcable_path(soundcable) %></td>
        <td><%= link_to 'Destroy', soundcable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Soundcable', new_soundcable_path %>
