<p id="notice"><%= notice %></p>

<p>
  <strong>Cabletype:</strong>
  <%= @soundcable.cabletype %>
</p>

<p>
  <strong>Cablelenght:</strong>
  <%= @soundcable.cablelenght %>
</p>

<p>
  <strong>Cablequantity:</strong>
  <%= @soundcable.cablequantity %>
</p>

<p>
  <strong>Balanced:</strong>
  <%= @soundcable.balanced %>
</p>

<%= link_to 'Edit', edit_soundcable_path(@soundcable) %> |
<%= link_to 'Back', soundcables_path %>
