<h1>Listing ledfixtures</h1>

<table>
  <thead>
    <tr>
      <th>Fixturemaker</th>
      <th>Fixturemodel</th>
      <th>Fixturename</th>
      <th>Fixtureledcolorscheme</th>
      <th>Fixturequantity</th>
      <th>Productimage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledfixtures.each do |ledfixture| %>
      <tr>
        <td><%= ledfixture.fixturemaker %></td>
        <td><%= ledfixture.fixturemodel %></td>
        <td><%= ledfixture.fixturename %></td>
        <td><%= ledfixture.fixtureledcolorscheme %></td>
        <td><%= ledfixture.fixturequantity %></td>
        <td><%= ledfixture.productimage %></td>
        <td><%= link_to 'Show', ledfixture %></td>
        <td><%= link_to 'Edit', edit_ledfixture_path(ledfixture) %></td>
        <td><%= link_to 'Destroy', ledfixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ledfixture', new_ledfixture_path %>
