<p id="notice"><%= notice %></p>

<p>
  <strong>Fixturemaker:</strong>
  <%= @ledfixture.fixturemaker %>
</p>

<p>
  <strong>Fixturemodel:</strong>
  <%= @ledfixture.fixturemodel %>
</p>

<p>
  <strong>Fixturename:</strong>
  <%= @ledfixture.fixturename %>
</p>

<p>
  <strong>Fixtureledcolorscheme:</strong>
  <%= @ledfixture.fixtureledcolorscheme %>
</p>

<p>
  <strong>Fixturequantity:</strong>
  <%= @ledfixture.fixturequantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @ledfixture.productimage %>
</p>

<%= link_to 'Edit', edit_ledfixture_path(@ledfixture) %> |
<%= link_to 'Back', ledfixtures_path %>
