<h1>My community!</h1>
<p><table>  
<tr>
    <th>Company Name</th>
    <th>Representitive Name</th>
    <th>Phone</th>
    <th>City</th>
    <th>State</th>
</tr>

<% @supplierlist .each do |p| %>

<tr>
    <td><%= p.companyname %></td>
    <td><%= p.repname %></td>
    <td><%= p.repphone %></td>
    <td><%= p.repcity %></td>
    <td><%= p.repstate %></td>
</tr>
<% end %>

</table></p>
