<h1>Listing newsales</h1>

<table>
  <thead>
    <tr>
      <th>Productname</th>
      <th>Productprice</th>
      <th>Productquantity</th>
      <th>Productimage</th>
      <th>Productdescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsales.each do |newsale| %>
      <tr>
        <td><%= newsale.productname %></td>
        <td><%= newsale.productprice %></td>
        <td><%= newsale.productquantity %></td>
        <td><%= newsale.productimage %></td>
        <td><%= newsale.productdescription %></td>
        <td><%= link_to 'Show', newsale %></td>
        <td><%= link_to 'Edit', edit_newsale_path(newsale) %></td>
        <td><%= link_to 'Destroy', newsale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newsale', new_newsale_path %>
