<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @newsale.productname %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @newsale.productprice %>
</p>

<p>
  <strong>Productquantity:</strong>
  <%= @newsale.productquantity %>
</p>

<p>
  <strong>Productimage:</strong>
  <%= @newsale.productimage %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @newsale.productdescription %>
</p>

<%= link_to 'Edit', edit_newsale_path(@newsale) %> |
<%= link_to 'Back', newsales_path %>
