<%= form_for(@supplier) do |f| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companyname %><br>
    <%= f.text_field :companyname %>
  </div>
  <div class="field">
    <%= f.label :repname %><br>
    <%= f.text_field :repname %>
  </div>
  <div class="field">
    <%= f.label :repphone %><br>
    <%= f.text_field :repphone %>
  </div>
  <div class="field">
    <%= f.label :repemail %><br>
    <%= f.text_field :repemail %>
  </div>
  <div class="field">
    <%= f.label :repaddress %><br>
    <%= f.text_field :repaddress %>
  </div>
  <div class="field">
    <%= f.label :repcity %><br>
    <%= f.text_field :repcity %>
  </div>
  <div class="field">
    <%= f.label :repstate %><br>
    <%= f.text_field :repstate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
