<h1>Listing suppliers</h1>

<table>
  <thead>
    <tr>
      <th>Companyname</th>
      <th>Repname</th>
      <th>Repphone</th>
      <th>Repemail</th>
      <th>Repaddress</th>
      <th>Repcity</th>
      <th>Repstate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.companyname %></td>
        <td><%= supplier.repname %></td>
        <td><%= supplier.repphone %></td>
        <td><%= supplier.repemail %></td>
        <td><%= supplier.repaddress %></td>
        <td><%= supplier.repcity %></td>
        <td><%= supplier.repstate %></td>
        <td><%= link_to 'Show', supplier %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
