<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @supplier.companyname %>
</p>

<p>
  <strong>Repname:</strong>
  <%= @supplier.repname %>
</p>

<p>
  <strong>Repphone:</strong>
  <%= @supplier.repphone %>
</p>

<p>
  <strong>Repemail:</strong>
  <%= @supplier.repemail %>
</p>

<p>
  <strong>Repaddress:</strong>
  <%= @supplier.repaddress %>
</p>

<p>
  <strong>Repcity:</strong>
  <%= @supplier.repcity %>
</p>

<p>
  <strong>Repstate:</strong>
  <%= @supplier.repstate %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
