<%= form_for(@speaker) do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :speakerbrand %><br>
    <%= f.text_field :speakerbrand %>
  </div>
  <div class="field">
    <%= f.label :speakermodel %><br>
    <%= f.text_field :speakermodel %>
  </div>
  <div class="field">
    <%= f.label :speakertype %><br>
    <%= f.text_field :speakertype %>
  </div>
  <div class="field">
    <%= f.label :speakerquantity %><br>
    <%= f.number_field :speakerquantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
