<h1>Listing speakers</h1>

<table>
  <thead>
    <tr>
      <th>Speakerbrand</th>
      <th>Speakermodel</th>
      <th>Speakertype</th>
      <th>Speakerquantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.speakerbrand %></td>
        <td><%= speaker.speakermodel %></td>
        <td><%= speaker.speakertype %></td>
        <td><%= speaker.speakerquantity %></td>
        <td><%= link_to 'Show', speaker %></td>
        <td><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
        <td><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaker', new_speaker_path %>
