<p id="notice"><%= notice %></p>

<p>
  <strong>Speakerbrand:</strong>
  <%= @speaker.speakerbrand %>
</p>

<p>
  <strong>Speakermodel:</strong>
  <%= @speaker.speakermodel %>
</p>

<p>
  <strong>Speakertype:</strong>
  <%= @speaker.speakertype %>
</p>

<p>
  <strong>Speakerquantity:</strong>
  <%= @speaker.speakerquantity %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
