<div >
  		 <%= link_to "Privacy", home_privacy_path %> 
		 <%= link_to "Help", home_help_path %> 
		 <%= link_to "Conditions of Use", home_conditions_path %> 
		 <%= link_to "Site Map", home_sitemap_path %> 
		<%= link_to "Contact us", home_contact_path %> 
		<%= link_to "About Us", home_about_path %> 
</div>
