<%= image_tag 'logo.jpg', :size => "50x50"  %>
<div id="header" >
  <h1>Twin Cities Sound and Lighting</h1>
</div>
<table>
	<tr><td>
		<%= link_to "Home", home_index_path %> 
		<%= link_to "Product Information", home_info_path %> 
		<%= link_to "Rentals", rentals_path %>
		<%= link_to "Sales", home_sales_path %> 
		
		<%= link_to "Customers", customers_path %> 
		<%= link_to "Search", home_search_path %> 
		<%= link_to "Announcements", home_announcements_path %> 
		<%= link_to "Sound Products", sound_products_path %>
		<%= link_to "Lighting Products", lighting_products_path %>

</td>

			<td>

		<% if session[:user_id].nil? %>
			<%=  link_to "New Customer", new_customer_path %>
			<%= button_to 'Login', login_path, :method => :get %>
		<% else %>
			Hello <%= Customer.find(session[:user_id]).lastname %> !
			<%= button_to 'Logout', logout_path, :method => :delete %>
		<% end %>
    		</td>

	</td></tr>
</table>
