<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
    

  </head>
<body>
	<table width="100%">
		<tr> <td height="100"> <%= render "layouts/header" %> </td> </tr>
		<tr> <td height="500"> 
				<table border="1" width="100%" height="500"> <tr>
					<td width="80%"> <%= yield %>  </td>
				</tr> </table>
		</td> </tr>
		<tr> <td> <%= render "layouts/footer" %> </td> </tr>
	</table>
</html>
